#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Leaflet Fixes if needed */
.leaflet-container {
  width: 100%;
  height: 100%;
}
